.row
  .span12
    .page-header
      %h1 Datil Dave's Pepper Products
.row
  .span12
    %p Welcome to Datil Dave's Pepper Products. Datil Dave offers specialty heirloom pepper products, product development services, consulting, agriculture advice, peppers, and seed stock for datil and other heirloom peppers.
