%div.slider
  %div#main-carousel.carousel.slide{"data-ride" => "carousel"}
    %div.carousel-inner
      %div.item.active
        =image_tag "/images/slider-imgs/slide1-img.jpg", alt: "Slider", class: "img-responsive"
      %div.item
        =image_tag "/images/slider-imgs/slide2-img.jpg", alt: "Slider", class: "img-responsive"
    %a{ class: "left carousel-control", href: "#main-carousel", role: "button", "data-slide" => "prev"}
      %span.glyphicon.glyphicon-chevron-left
    %a{ class: "right carousel-control", href: "#main-carousel", role: "button", "data-slide" => "next"}
      %span.glyphicon.glyphicon-chevron-right

%section.products-list
  %h2.product-head Featured Products
  %div.row
    - featured_products.order(:priority).each do |product|
      %div.col-md-3.col-sm-6
        %div.product-col
          %div.image
            =image_tag product.image_url, alt: product.name, class: "img-responsive"
          %div.caption
            %h4
              =link_to product.name, product
            %div.description
              =product.description
            %div.price
              %span.price-new
                = number_to_currency(product.price)
