.row
  .col-md-9
    - if current_user
      %ol.breadcrumb
        %li
          = link_to "Edit Category", edit_category_path(category)
        %li
          = link_to "Delete Category", category, method: :delete, "data-confirm" => "Are you sure? This action cannot be undone."
.row
  .col-md-9
    %ol.breadcrumb
      %li
        =link_to "Home", root_path
      %li.active
        =category.name
    %h2.main-heading2
      =category.name
    .row.cat-intro
      .col-sm-3
        =image_tag category.image_url, alt: category.name, class: "img-responsive"
      .col-sm-9.cat-body
        =category.description
    .product-filter
      .row
    .row
      - category.products.order(:priority).each do |product|
        .col-md-4.col-sm-6
          .product-col
            .image
              =link_to image_tag(product.image_url, alt: product.name, class: "img-responsive"), product
            .caption
              %h4
                =link_to product.name, product
              .description
                =product.description
              .price
                %span.price-new= number_to_currency(product.price)
  .col-md-3
    %h3.side-heading Categories
    .list-group
      -categories.each do |category|
        =link_to category.name, category, class: "list-group-item"
